<ng-include src="'/templates/shared/header.html'"></ng-include>
<table class="table table-hover" align="right">
	<thead>
		<tr>
			<th>User Id</th>
			<th>User Name</th>
			<th>Action</th>
		</tr>
	</thead>
	<tbody ng-if="$ctrl.projects.length != 0">
		<tr ng-repeat="user in $ctrl.users">
			<td>{{user.id}}</td>
			<td>{{user.name}}</td>
			<td>
				<button ng-click="$ctrl.deleteUser(user)">Delete</button>
			</td>
		</tr>
	</tbody>
	<tbody ng-if="$ctrl.users.length == 0">
		<tr>
			<td colspan="4" align="center"> No Users </th>
		</tr>
	</tbody>
</table>