<!DOCTYPE html>
<html>
<head>
	<title>ToDo</title>
	<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
	<%= csrf_meta_tags %>
</head>

<body ng-app="toDoApp" ng-strict-di ng-view>
	<ui-view></ui-view>
</body>
</html>
